.App {
  text-align: center;
}

body{
  background-color: teal;
}

header{
  background-color: aquamarine;
}

h1{
  margin: 0;
}

.madLibsMain{
  position: relative;
  background-color: tomato;
  height: 80vh;
}

.menu{
  
  /* display: flex; */
}

.madLib{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-around;
}

.content{
  position: absolute;
  background-color: thistle;
  width: 90%;
  height: 90%;
  top:5%;
  left: 5%;
}

.entries{
  background-color: rgb(46, 170, 170);
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
  align-items:center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.entry > p{
  margin: 0;
}

.finished{
  margin-top: 20px;
  background-color: rgb(98, 160, 129);
  height: 70%;
  width: 80%;
}

.mLBtn{
  /* align-self: flex-end; */
}