.App {
  text-align: center;
}

body{
  background-color: teal;
}

header{
  background-color: aquamarine;
}

h1{
  margin: 0;
}

.madLibsMain{
  position: relative;
  background-color: tomato;
  height: 80vh;
}

.menu{
  
  /* display: flex; */
}

.madLib{
  
}

.content{
  position: absolute;
  background-color: thistle;
  width: 90%;
  height: 90%;
  top:5%;
  left: 5%;
}